.img-responsive{
	width:100%
}

.cart_product img{
	width:100px
}
.cart_quantity input{
	width: 50px
}
.buy{
	margin-left: 52%;
    margin-bottom: 50px;
}

.update, .buy {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: -100px;
  border: none;
  padding: 5px 15px;
}

.empty{
	margin-left: 46%;
    margin-top: 0px;
    margin-bottom: 50px;
}

.update, .empty {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 18px;
  border: none;
  padding: 5px 15px;
}
.infor-customer{
	margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 50px;
}

.update, .infor-customer {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 5px;
  border: none;
  padding: 5px 15px;
}

.update, .infor-product {
  background: #FE980F;
  border-radius: 0;
  color: #FFFFFF;
  border: none;
  padding: 5px 15px;
}