<link rel="stylesheet" type="text/css" th:href="@{/sidebar.css}">

<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo" style="text-align:center"> DIGIDINOS </div>
      <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" data-ps-id="66e62cde-589a-625c-cc0e-4e8e5a7a7a01">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" th:href="@{/}">       
              <p>Trang Mua Sắm</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/productList}">            
              <p>QL.Sản phẩm</p>
            </a>
          </li>          
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/orderList}">          
              <p>QL.Đơn Đặt Hàng</p>
            </a>
          </li>         
          <li class="nav-item ">
           <th:block sec:authorize="isAuthenticated()">
           
           <a class="nav-link" th:href="@{/admin/logout}">Logout</a>
           </th:block>
       
         <th:block sec:authorize="!isAuthenticated()">
         <a class="nav-link" th:href="@{/admin/login}">Login</a>
        </th:block>
          </li>
        </ul>
      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 208px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 127px;"></div></div></div>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-1.jpg) "></div></div> 