<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>DIDINOS SHOPPING</title>
      <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
      <link th:href="@{css/prettyPhoto.css}" rel="stylesheet">
      <link th:href="@{css/price-range.css}" rel="stylesheet">
      <link th:href="@{css/animate.css}" rel="stylesheet">
      <link th:href="@{css/main.css}" rel="stylesheet">
      <link th:href="@{css/responsive.css}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" th:href="@{/custom.css}">
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->       
      <link rel="shortcut icon" href="images/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
   </head>
   <!--/head-->
   <body>
      <header id="header">
         <!--/header-middle-->
         <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
               <div class="row">
                  <div class="col-sm">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     </div>
                     <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                           <li><a th:href="@{/}" class="active">Trang chủ</a></li>
                        </ul>
                     </div>
                     <div class="col-sm-10">
                        <div class="shop-menu pull-right">
                           <ul class="nav navbar-nav">
                              <li><a th:href="@{/shoppingCart}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--/header-bottom-->
      </header>
      <!--/header-->
      <section id="slider">
         <!--slider-->
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="item active">
                           <div class="col">
                              <img th:src="@{img/1.jpg}" class="girl img-responsive" alt="" />
                           </div>
                        </div>
                        <div class="item">
                           <div class="col">
                              <img th:src="@{img/1.jpg}" class="girl img-responsive" alt="" />
                           </div>
                        </div>
                        <div class="item">
                           <div class="col">
                              <img th:src="@{img/1.jpg}" class="girl img-responsive" alt="" />
                           </div>
                        </div>
                     </div>
                     <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                     <i class="fa fa-angle-left"></i>
                     </a>
                     <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                     <i class="fa fa-angle-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--/slider-->
      <section>
         <div class="container">
            <div class="row">
               <div class="col-sm">
                  <div class="features_items">
                     <!--features_items-->
                     <h2 class="title text-center">Shopping</h2>
                     <div class="col-sm">
                        <div class="product-image-wrapper, col-sm-3"  th:each="prodInfo : ${paginationProducts.list}">
                           <div class="single-products">
                              <div class="productinfo text-center">
                                 <img th:src="@{|/productImage?code=${prodInfo.code}|}" />
                                 <h3><span th:utext="${prodInfo.name}"></span></h3>
                                 <h5><span th:utext="${#numbers.formatDecimal(prodInfo.price,3,0,'COMMA')}"></span>VND</h5>
                                 <a th:href="@{|/buyProduct?code=${prodInfo.code}|}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--features_items-->										
               </div>
            </div>
         </div>
      </section>
      <footer id="footer">
         <!--Footer-->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
               </div>
            </div>
         </div>
      </footer>
      <!--/Footer-->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.scrollUp.min.js"></script>
      <script src="js/price-range.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>