<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
   </head>
   <body>

<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>
	<section class="content-header" style="padding-top: 50px">
		<h1>
			Danh sách Danh Mục <small><a th:href="@{/admin/product}">Thêm mới</a></small>
		</h1>
	</section>

	<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<div class="box-tools"></div>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>Tên</th>
									<th>Hình ảnh</th>
									<th>Mã Sản Phẩm</th>
									<th>Giá</th>
									<th class="text-center" sec:authorize="hasRole('ROLE_MANAGER')">Hành động</th>

								</tr>
							</tbody>
							<!-- Lặp một mảng dữ liệu pass sang view để hiển thị -->
							<div th:each="prodInfo : ${paginationProducts.list}">
							<tr class="item-{{ $item->id }}">
								<td><span th:utext="${prodInfo.name}"></span></td>
								<td><img th:src="@{|/productImage?code=${prodInfo.code}|}"
									width="50" height="50"></td>
								<td><span th:utext="${prodInfo.code}"></span></td>
								<td><span
									th:utext="${#numbers.formatDecimal(prodInfo.price,3,0,'COMMA')}"></span></td>
								<td class="text-center">
								<a th:href="@{|/admin/product?code=${prodInfo.code}|}"
									class="btn btn-flat btn-info" sec:authorize="hasRole('ROLE_MANAGER')"> <i class="fa fa-edit"></i>
								</a>							 
								</td>								
							</tr>
							</div>
						</table>
					</div>
					<div class="page-navigator"
						th:if="${paginationProducts.totalPages > 1}">
						<th:block th:each="page : ${paginationProducts.navigationPages}">

							<a th:href="@{|/productList?page=${page}|}" th:if="${page != -1}"
								class="nav-item" th:utext="${page}"></a>

							<span class="nav-item" th:if="${page == -1}"> ... </span>

						</th:block>
					</div>
				</div>
			</div>
			</div>
			</div>
			<!-- /.row -->
	</section>
	<!--   Core JS Files   -->


	<th:block th:include="/_footer"></th:block>
</body>
</html>