<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Thông Tin Đơn Hàng</title>
      <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
      <link th:href="@{css/prettyPhoto.css}" rel="stylesheet">
      <link th:href="@{css/price-range.css}" rel="stylesheet">
      <link th:href="@{css/animate.css}" rel="stylesheet">
      <link th:href="@{css/main.css}" rel="stylesheet">
      <link th:href="@{css/responsive.css}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" th:href="@{/custom.css}">
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->       
      <link rel="shortcut icon" th:href="@{images/ico/favicon.ico}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{images/ico/apple-touch-icon-144-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{images/ico/apple-touch-icon-114-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{images/ico/apple-touch-icon-72-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" th:href="@{images/ico/apple-touch-icon-57-precomposed.png}">
   </head>
   <!--/head-->
   <body>
      <div class="breadcrumbs">
         <ol class="breadcrumb">
            <li><a th:href="@{/}">Trang chủ</a></li>
            <li class="active">Thông tin khách hàng</li>
         </ol>
      </div>
      <!--/breadcrums-->	     
      <section id="cart_items">
         <div class="container">
            <div class="customer-info-container">
               <h3>Thông Tin Khách Hàng:</h3>
               <ul>
                  <li>Tên: <span th:utext="${myCart.customerInfo.name}"></span></li>
                  <li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
                  <li>Số Điện Thoại: <span th:utext="${myCart.customerInfo.phone}"></span></li>
                  <li>Địa Chỉ: <span th:utext="${myCart.customerInfo.address}"></span></li>
               </ul>
               <a class="btn btn-default infor-customer" th:href="@{/shoppingCartCustomer}">Thay Đổi</a>   
            </div>
            <div class="table-responsive cart_info">
               <table class="table table-condensed">
                  <thead>
                     <tr class="cart_menu">
                        <td class="image">Hình ảnh</td>
                        <td class="description">Thông tin sản Phẩm</td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng số tiền</td>
                        <td></td>
                     </tr>
                  </thead>
                  <tbody>
                     <div th:each="cartLineInfo : ${myCart.cartLines}">
                        <tr>
                           <td class="cart_product">
                              <img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
                           </td>
                           <td class="cart_description">
                              <h4><span th:utext="${cartLineInfo.productInfo.name}"></span></h4>
                              <p>Mã Sản Phẩm: <span th:utext="${cartLineInfo.productInfo.code}"></span>    
                           </td>
                           <td class="cart_price">
                              <p th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,0,'COMMA')}"></p>
                           </td>
                           <td class="cart_quantity">
                              <span th:utext="${cartLineInfo.quantity}"></span>
                           </td>
                           <td class="cart_total">
                              <p class="cart_total_price" th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,0,'COMMA')}"></p>
                           </td>
                           <td>
                              <a class="btn btn-default infor-product" th:href="@{/shoppingCart}">Thay đổi</a>
                           </td>
                        </tr>
                     </div>
                  </tbody>
               </table>
            </div>
         </div>
      </section>
      <form method="POST" th:action="@{/shoppingCartConfirmation}">
         <!-- Send/Save -->
         <input type="submit" value="ĐẶT HÀNG" class="button-send-sc" style="margin-left: 50%; margin-bottom: 30px;"/>
      </form>
      <footer id="footer">
         <!--Footer-->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
               </div>
            </div>
         </div>
      </footer>
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.scrollUp.min.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>