<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Giỏ Hàng</title>
      <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
      <link th:href="@{css/prettyPhoto.css}" rel="stylesheet">
      <link th:href="@{css/price-range.css}" rel="stylesheet">
      <link th:href="@{css/animate.css}" rel="stylesheet">
      <link th:href="@{css/main.css}" rel="stylesheet">
      <link th:href="@{css/responsive.css}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" th:href="@{/custom.css}">
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->       
      <link rel="shortcut icon" th:href="@{images/ico/favicon.ico}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{images/ico/apple-touch-icon-144-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{images/ico/apple-touch-icon-114-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{images/ico/apple-touch-icon-72-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" th:href="@{images/ico/apple-touch-icon-57-precomposed.png}">
   </head>
   <!--/head-->
   <body>
      <header id="header">
         <!--/header-middle-->
         <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
               <div class="row">
                  <div class="col-sm">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     </div>
                     <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                           <li><a th:href="@{/}" class="active">Home</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--/header-bottom-->
      </header>
      <!--/header-->
      <section id="cart_items">
         <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
            <h2>Giỏ hàng của bạn trống</h2>
            <a class="btn btn-default empty" th:href="@{/}">Mua Ngay</a>
         </th:block>
         <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
         <div class="container">
            <div class="breadcrumbs">
               <ol class="breadcrumb">
                  <li><a th:href="@{/}">Trang chủ</a></li>
                  <li class="active"> Giỏ hàng</li>
               </ol>
            </div>
            <div class="table-responsive cart_info">
               <table class="table table-condensed">
                  <thead>
                     <tr class="cart_menu">
                        <td class="image">Hình ảnh</td>
                        <td class="description">Thông tin sản Phẩm</td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng số tiền</td>
                        <td></td>
                     </tr>
                  </thead>
                  <tbody>
                     <div th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                        <tr>
                           <td class="cart_product">
                              <img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
                           </td>
                           <td class="cart_description">
                              <h4><span th:utext="${cartLineInfo.productInfo.name}"></span></h4>
                              <p>Mã Sản Phẩm: <span th:utext="${cartLineInfo.productInfo.code}"></span>
                                 <input type="hidden"      
                                    th:name="|cartLines[${varStatus.index}].productInfo.code|"                       
                                    th:value="${cartLineInfo.productInfo.code}" />
                              </p>
                           </td>
                           <td class="cart_price">
                              <p th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,0,'COMMA')}"></p>
                           </td>
                           <td class="cart_quantity">
                              <input
                                 th:name="|cartLines[${varStatus.index}].quantity|"
                                 th:value="${cartLineInfo.quantity}" />
                           </td>
                           <td class="cart_total">
                              <p class="cart_total_price" th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,0,'COMMA')}"></p>
                           </td>
                           <td class="cart_delete">
                              <a class="cart_quantity_delete" th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}"><i class="fa fa-times"></i></a>
                           </td>
                              <td class="cart_delete">
                               <input style ="position: absolute;  top: 240px; right: 160px;" class="button-update-sc"  type="submit" value="Cập nhật" />
                           </td>
                        </tr>
                     </div>
                  </tbody>
               </table>
               <a class="btn btn-default check_out"   th:href="@{/shoppingCartCustomer}">Mua Hàng</a>
             
               <a class="btn btn-default buy" th:href="@{/}">Mua Tiếp</a>
            </div>
         </div>
         </form>
      </section>
      <!--/#cart_items-->
      <footer id="footer">
         <!--Footer-->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
               </div>
            </div>
         </div>
      </footer>
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.scrollUp.min.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>