<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Địa CHỉ Nhận Hàng</title>
      <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
      <link th:href="@{css/prettyPhoto.css}" rel="stylesheet">
      <link th:href="@{css/price-range.css}" rel="stylesheet">
      <link th:href="@{css/animate.css}" rel="stylesheet">
      <link th:href="@{css/main.css}" rel="stylesheet">
      <link th:href="@{css/responsive.css}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" th:href="@{/custom.css}">
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->       
      <link rel="shortcut icon" th:href="@{images/ico/favicon.ico}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{images/ico/apple-touch-icon-144-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{images/ico/apple-touch-icon-114-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{images/ico/apple-touch-icon-72-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" th:href="@{images/ico/apple-touch-icon-57-precomposed.png}">
   </head>
   <!--/head-->
   <body>
      <div class="breadcrumbs">
         <ol class="breadcrumb">
            <li><a th:href="@{/}">Trang chủ</a></li>
            <li class="active">Địa chỉ nhận hàng</li>
         </ol>
      </div>
      <!--/breadcrums-->
      <h3 style="text-align:center">Địa Chỉ Nhận Hàng</h3>
      <form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}" style="margin:40px">
         <table>
            <tr>
               <td>Họ và tên *</td>
               <td><input th:field="*{name}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
               </td>
            </tr>
            <tr>
               <td>Email *</td>
               <td><input th:field="*{email}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
               </td>
            </tr>
            <tr>
               <td>Số Điện thoại *</td>
               <td><input th:field="*{phone}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
               </td>
            </tr>
            <tr>
               <td>Địa chỉ *</td>
               <td><input th:field="*{address}" /></td>
               <td>
                  <span class="error-message"
                     th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
               </td>
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="Mua Hàng" /> <input type="reset"
                  value="Reset" /></td>
            </tr>
         </table>
      </form>
      <footer id="footer">
         <!--Footer-->
         <div class="footer-bottom">
            <div class="container">
               <div class="row">
                  <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>
               </div>
            </div>
         </div>
      </footer>
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.scrollUp.min.js"></script>
      <script src="js/jquery.prettyPhoto.js"></script>
      <script src="js/main.js"></script>
   </body>
</html>