<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Giỏ Hàng</title>
      <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
      <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
      <link th:href="@{css/prettyPhoto.css}" rel="stylesheet">
      <link th:href="@{css/price-range.css}" rel="stylesheet">
      <link th:href="@{css/animate.css}" rel="stylesheet">
      <link th:href="@{css/main.css}" rel="stylesheet">
      <link th:href="@{css/responsive.css}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" th:href="@{/custom.css}">
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->       
      <link rel="shortcut icon" th:href="@{images/ico/favicon.ico}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{images/ico/apple-touch-icon-144-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{images/ico/apple-touch-icon-114-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{images/ico/apple-touch-icon-72-precomposed.png}">
      <link rel="apple-touch-icon-precomposed" th:href="@{images/ico/apple-touch-icon-57-precomposed.png}">
   </head>
   <!--/head-->
   <body>
      <div class="container">
         <h2>ĐẶT HÀNG THÀNH CÔNG!</h2>
         <a class="btn btn-default empty" style="margin-left: 43%;" th:href="@{/}">Mua Sắm Tiếp</a>
      </div>
   </body>
</html>